
.parent{
    
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: column;
    padding: 10px;

}
.container{
    border-radius: 10px;
    width: 60%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

    form{
        width: 90%;
    }
}



/* Add these styles to your CSS file */
.custom-modal {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9); /* Adjust the alpha value for background opacity */
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px; /* Add round corners */
    width: 400px; /* Adjust width as needed */
    backdrop-filter: blur(5px); /* Add a blurred background effect */
  }
  
  .modal-content {
    margin: 0;
    padding: 0;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }
  
  .modal-title {
    margin: 0;
  }
  
  .close {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 20px;
    color: #000;
    outline: none;
  }
  